django==1.6.7
uwsgi
celery
fabric
jsonfield==0.9.20
Pillow==2.5.3
South==1.0
django-simple-history==1.5.0
-e git+https://github.com/eHealthAfrica/ehealth-tools.git#egg=EhealthTools
djangorestframework==2.4.2
markdown
django-filter
# Prod
psycopg2==2.5.2
# Dev
django-extensions
#test
django-nose

